@font-face {
  font-family: "DINpro Condensed";
  src: url("../fonts/DINPro-CondensedBold.woff2") format("woff2"), url("../fonts/DINPro-CondensedBold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "DINpro Condensed";
  src: url("../fonts/DINPro-CondensedBlackItalic.woff2") format("woff2"), url("../fonts/DINPro-CondensedBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "DINpro Condensed";
  src: url("../fonts/DINPro-CondensedBoldItalic.woff2") format("woff2"), url("../fonts/DINPro-CondensedBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "DINpro Condensed";
  src: url("../fonts/DINPro-CondensedBlack.woff2") format("woff2"), url("../fonts/DINPro-CondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "DINpro Condensed";
  src: url("../fonts/DINPro-CondensedRegular.woff2") format("woff2"), url("../fonts/DINPro-CondensedRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "DINpro Condensed";
  src: url("../fonts/DINPro-CondensedMediumItalic.woff2") format("woff2"), url("../fonts/DINPro-CondensedMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "DIN pro";
  src: url("../fonts/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "DIN pro";
  src: url("../fonts/DINPro-Medium.woff2") format("woff2"), url("../fonts/DINPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: medium; }

html {
  font-size: 16px;
  font-family: 'DinPro Condensed', sans-serif;
  font-weight: 700;
  background-color: black;
  color: white;
  letter-spacing: 0.03em;
  -webkit-font-kerning: normal;
          font-kerning: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

ul,
li {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  max-width: 100%;
  display: block; }

.wrapper {
  max-width: 1190px;
  width: 90%;
  margin: 0 auto; }

.h1 {
  font-family: "DINpro Condensed";
  font-weight: 700;
  font-style: italic;
  font-size: 70px;
  text-transform: uppercase;
  color: #D843FF;
  line-height: 60px;
  letter-spacing: 0.02em; }
  .h1 > span {
    color: white; }

.h2 {
  font-family: "DINpro Condensed";
  font-weight: 900;
  font-style: italic;
  font-size: 27px;
  text-align: center;
  margin: 20px 0 10px 0;
  text-transform: uppercase;
  line-height: 33px; }

.btn {
  background: #44FFC9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #163C37;
  text-decoration: none;
  padding: 13px 42px 13px 42px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.05em;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 0 #31C399;
          box-shadow: 3px 3px 0 #31C399;
  outline: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  line-height: 24px; }
  .btn:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
  .btn:active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .btn__pic {
    margin-right: 20px; }
  .btn__buy {
    padding: 13px 58px 13px 58px; }
  .btn_work {
    background: #E9E9E9;
    -webkit-box-shadow: 3px 3px 0 #B6B6B6;
            box-shadow: 3px 3px 0 #B6B6B6;
    margin-left: 20px;
    font-style: italic;
    color: #333333; }

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.offer {
  background: url("../img/bg.png") no-repeat center center/cover;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1440px) {
    .offer {
      height: auto;
      background: url("../img/bg.png") no-repeat center top/cover;
      background-size: 95%; } }
  .offer__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .offer__group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1440px) {
      .offer__group {
        margin-top: 10%; } }
    @media (max-width: 1440px) {
      .offer__group {
        height: 95vh; } }
  .offer__adv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-family: "DIN pro";
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #828282;
    margin-top: 13em;
    margin-left: 15em;
    line-height: 16px;
    letter-spacing: 0.2em; }
    .offer__adv:hover {
      color: #F4B746; }
      .offer__adv:hover .arrow_down-p {
        stroke: #F4B746; }
  .offer__adv-text {
    margin-left: 16px; }
  .offer__arrows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .offer__advantages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 100px;
    margin-top: -100px; }

.header {
  padding-top: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu__item {
    margin-right: 22px; }
  .menu__link {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #9d9d9d; }
    .menu__link:hover {
      color: white; }
    .menu__link:active {
      color: #44FFC9; }

.user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  text-transform: uppercase; }
  .user__r:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease; }
  .user__count {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .user__money {
    margin-left: 10px;
    font-family: "DIN pro";
    font-size: 18px;
    font-weight: 500; }
  .user__group {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px; }
  .user__desc {
    margin-left: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .user__desc:hover .user__name {
      color: white; }
  .user__name {
    margin: 0 10px 0 0;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.05em;
    font-size: 18px;
    position: relative; }

.avatar__pic {
  width: 30px;
  height: 30px; }

.arrow {
  cursor: pointer;
  stroke: #828282; }
  .arrow.active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center; }

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px; }

.arrow_down {
  margin-bottom: 6px; }
  .arrow_down:last-child {
    margin: 0; }

.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 12px;
  display: none; }
  .dropdown.active {
    display: block; }
  .dropdown__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #828282; }
    .dropdown__link:hover {
      color: white; }
      .dropdown__link:hover .dropdown__icon {
        stroke: white; }
    .dropdown__link:active {
      color: #00F1FC; }
      .dropdown__link:active .dropdown__icon {
        stroke: #00F1FC; }
  .dropdown__text {
    margin-left: 12px; }
  .dropdown__item {
    margin-top: 16px; }
  .dropdown__icon {
    stroke: #828282;
    stroke-width: "0.75"; }

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px; }

.advantage {
  width: 19%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .advantage__text {
    font-family: "Inter";
    font-weight: 500;
    color: #A1A1A1;
    font-size: 14px;
    line-height: 25px; }

.reviews-div {
  margin-top: 40px;
  height: 230px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .reviews-div__img1 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0; }
  .reviews-div__img2 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0; }

.reviews__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "DIN pro";
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #9d9d9d;
  margin-left: 200px;
  line-height: 16px;
  letter-spacing: 0.2em; }
  .reviews__link:hover {
    color: #F4B746; }
    .reviews__link:hover .arrow_down-p {
      stroke: #F4B746; }

.reviews__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.reviews__left {
  width: 870%;
  position: relative;
  margin-top: 22px; }

.reviews__right {
  width: 23%;
  margin-left: 100px; }

.reviews__number {
  font-family: "DINpro Condensed";
  font-weight: 400;
  font-size: 150px;
  color: #F4B746;
  letter-spacing: 0.02em;
  line-height: 0.8; }

.reviews__text {
  text-transform: uppercase;
  color: #D843FF;
  font-family: "DINpro Condensed";
  font-weight: 700;
  font-style: italic;
  font-size: 70px;
  line-height: 60px;
  letter-spacing: 0.02em; }
  .reviews__text > span {
    color: white; }

.reviews__comment {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  color: #A1A1A1;
  margin-top: 36px;
  line-height: 25px;
  letter-spacing: 0.02em; }

.review {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .review_last {
    margin-bottom: 0; }
  .review__desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    margin-right: 40px; }
  .review__desc-group {
    margin-left: 20px; }
  .review__name {
    font-family: "DINpro Condensed";
    font-weight: 900;
    font-size: 25px;
    font-style: italic;
    line-height: 30px;
    text-transform: uppercase; }
  .review__date {
    font-family: "DIN pro";
    font-size: 15px;
    font-weight: 700;
    color: #828282;
    line-height: 25px;
    letter-spacing: 0.02em; }
  .review__text {
    width: 70%;
    font-family: "DINpro Condensed";
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #FCFCFC;
    padding: 15px 0 20px 20px;
    border-radius: 10px;
    background-color: #191919;
    position: relative; }
    .review__text:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-color: #191919 #191919 transparent transparent;
      border-style: solid;
      border-width: 8px;
      left: -16px;
      top: 10px; }

.stars {
  position: absolute;
  top: 6px;
  right: 9px; }

.gradient {
  position: absolute;
  width: 100%;
  height: 194px;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }

.btn__review {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #00F1FC;
  -webkit-box-shadow: 3px 3px 0 #12b1ba;
          box-shadow: 3px 3px 0 #12b1ba;
  margin-left: 57%;
  z-index: 20;
  padding: 16px 68px 16px 68px;
  line-height: 24px;
  letter-spacing: 0.05em; }

.footer {
  margin-top: 120px;
  margin-bottom: 47px;
  text-align: center; }

.menu_footer {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.copy {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #333333;
  margin-top: 12px; }
